{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Phet to JS</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "style.css"%}">
</head>

<body>
    <div class="container row">
        <h1 class="indigo-text">Simulations</h1>
        <div class="card-panel white">
            <p>
                Here's the links the the simulations:
            </p>
            {% for name in sim_names %}
                <a href="/simulations/{{name}}">{{ name }}</a><br />
            {% endfor %}
        </div>
    </div>
</body>

</html>